<h1>Hello, Rails!</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <%= link_to 'My Blog', controller: 'articles' %>
    </tr>
  <% end %>
  <%= link_to 'New article', new_article_path %>
</table>